html {
  background-color: #fff;
}

.spinner-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background: rgb(255, 255, 255);
  margin-top: -19px;
}

.main-container {
  margin-top: 70px;
}

.checkbox {
  margin-left: 0px !important;
}

.list-group-item .js-btnCancel {
  display: none;
}

.list-group-item.done .js-btnCancel {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  display: block;
}

.list-group-item.done::before {
  content: " ";
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.69);
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
}

.list-group-item.done label {
  text-decoration: line-through !important;
}

.hide-task {
  display: none;
}

.js-needEnter .form-control {
  border: 1px solid #35b700;
  background-color: rgba(53, 183, 0, 0.09);
}

.js-needEnter .hint {
  color: #35b700;
  font-size: 12px;
  float: right;
  margin-top: 4px;
  display: block !important;
}

.checkbox {
  margin: 5px 0px;
}

.checkbox input[type=checkbox] {
  margin-left: 0px;
}

.signedWaiting {
  display: none;
}

.signedShow {
  display: block;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  height: 34px;
  line-height: 14;
}
